/* Buttons */
.btn {
    border-width: 0;
    border-radius: 0.5em;
    padding: 0.3em 1em;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s;
/* Colors */
    background-color: var(--main-color, #333333);
    color: var(--btn-fg, #BBBBBB);
}
.btn>.icon {
    height: 1em;
    width: auto;
    margin: 0;
    margin-right: 5px;
}
.btn:hover {
/* Colors */
    background-color: var(--sub-color, #555555);
    color: var(--btn-hover-fg, #FFFFFF);
}
.btn:active {
/* Colors */
    background-color: var(--btn-active-bg, #AAAAAA);
    color: var(--btn-active-fg, #000000);
}
.btn:disabled {
    cursor: default;
/* Colors */
    background-color: var(--btn-disabled-bg, #222222);
    color: var(--btn-disabled-fg, #999999);
}
.btn:focus {
    outline-width: 0;
    border: var(--btn-focus-bs, 1px) solid var(--btn-focus-bc, #AAAAAA);
}

.small.btn {
    font-size: 15px;
}
.big.btn {
    font-size: 20px;
}

.border.btn {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid darkgray;
}
.border.btn:hover {
    background-color: darkgray;
    color: black;
}
.border.btn:active {
    border-color: gray; background-color: gray;
}
.border.btn:focus {
    border-style: dashed;
}
/* Input */
input[type="text"], input[type="password"], input[type="search"] {
    background-color: black;
    color: white;
    border: 1px solid var(--main-color2);
}