:root {
    --main-bg: #000000;
    --main-bg2: #1B0033;
    --main-fg: #DEDEDE;
    --main-color: #010165;
    --sub-color: #020286;
    --font-size: 16px;
    --font-famaly: 'Open Sans';
    --timeing: 0.3s;
}

/* Main */
*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    margin: 0; padding: 0;
    min-height: 100vh;
    font-size: var(--font-size, 16px);
    font-family: var(--font-famaly), monospace;
    background-color: var(--main-bg, #111111); color: var(--main-fg, #AFAFAF);
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Waring */
.warning {
    position: fixed;
    top: 50%; left: 50%; z-index: 999;
    width: 25vw; height: auto;
    transform: translate(-50%, -50%);
    min-width: 270px;
    background-color: darkred; color: white;
    padding: 15px;
    text-align: center;
}
.warning_title {
    width: 100%; border-bottom: 2px solid var(--main-color, #010165); color: var(--main-color, #010165);
}

/* Button scroll to top */
#scrollToTop {
    position: fixed;
    bottom: 20px; right: 20px;
    width: 50px; height: 50px;
    background-color: var(--main-color, #010165);
    border-width: 0; border-radius: 50%;
    display: block;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    padding: 0;
    transition: all var(--timeing, 0.3s);
}
#scrollToTop>.icon {
    fill: white;
    width: 40px; height: 40px;
}
#scrollToTop.active {opacity: 0.5;visibility: visible;}
#scrollToTop:hover {opacity: 1;}
#scrollToTop:focus {
    outline-width: 0;
}
/* Login */
#login {
    max-width: 400px; max-height: 250px;
}
#login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login input {
    margin: 10px;
    text-align: center;
    width: 90%;
    font-size: 20px;
    padding: 3px;
    border: 3px solid var(--main-color); border-radius: 8px;
}
#login .tab_contents, #login .tab_content {
    height: 100%;
}

/* Settings */
#settings {
    max-width: 300px; max-height: 450px;
}

/* eclipse */
#eclipse {
    display: block;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0; z-index: 600;
    background-color: rgba(0,0,0,0.6);
    opacity: 1; visibility: hidden;
    transition: all var(--timeing, 0.3s);
}

/* Icon */
.icon {width: 30px; height: 30px; fill: var(--main-fg, #FFFFFF);}
.icon_inner {fill: rgba(0,0,0,0);}
.icon_close {width: 30px; height: 30px;}

/* Header */
h1, h2, h3 {cursor: default;}

/* Test */
main {
    width: 100%; max-width: 1100px;
    margin: 3px;
    margin-top: 70px;
    padding: 20px;
    align-self: center;
}
.main_head {border-bottom: 2px solid var(--main-color);}
.main_head>* {display: inline-block; margin-right: 20px;}
.main_body {
    margin-top: 20px;
    padding: 0 4px;
}

@media (max-width: 760px) {
    main {margin-top: 55px;}
}
